/* validation-theme.css */
.tippy-box[data-theme~='validation']{
    background:#fff;
    color:#333;
    border:1px solid #e63946;
    border-radius:4px;
    font-size:.82rem;
    padding:8px 12px;
    position:relative;
  }
  .tippy-box[data-theme~='validation'][data-placement^='left']
       > .tippy-arrow::before {
        border-left-color: #e63946;         
}

@media (max-width: 630px) {
    .tippy-box[data-theme~='validation'] {
      max-width: 90vw !important;   
      white-space: normal;          
      font-size: .75rem;            
      padding: 6px 10px;           
    }
  }
  